! Colorscheme based on kaolin-dark theme (https://github.com/ogdenwebb/emacs-kaolin-themes)

*.foreground: #E4E4E8
*.background: #18181B
*.cursorColor: #E4E4E8

 ! Black
 *.color0: #4B5254
 *.color8: #879193

 ! Red
 *.color1: #CD5C60
 *.color9: #E36D5B

 ! Green
 *.color2: #6FB593
 *.color10: #72CCBA

 ! Yellow
 *.color3: #DBAC66
 *.color11: #F2C866

 ! Blue
 *.color4: #91B9C7
 *.color12: #97B8DE

 ! Magenta
 *.color5: #845A84
 *.color13: #8C629C

 ! Cyan
 *.color6: #4D9391
 *.color14: #5096AB

 ! White
 *.color7: #E4E4E8
 *.color15: #EFEFF1
